<!DOCTYPE html>
<html lang="en">
  <head>
    <% if(user.userData === undefined){ %> 
      <title>Nome della mia applicazione</title>
    <% }else{ %> 
      <title>App - <%= user.userData.id %></title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!--Custom CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--boxicons css-->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- Slick Slider CSS
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    -->

  </head>
  <body>
    
    <!--SIDEBAR-->
    <nav class="sidebar visible">
      <header>
        <div class="image-text">
        <% if(user.userData === undefined){ %> 
          <span class="image">
            <i class='bx bx-user-circle icon'></i>
          </span>
          <div class="text logo-text">
            <a class="name" onclick="accedi()">Accedi</a>
          </div>
        <% }else{ %>
          <span class="image">
            <% if(user.userData.images.length == 0){ %> 
            <img src="/images/spotify-logo-24.png" alt="Profile pic">
            <% }else{ %> 
            <img src="<%= user.userData.images[0].url %>" alt="Profile pic">
            <% } %>
          </span>
          <div class="text logo-text">
            <span class="name">Ciao</span>
            <span class="profession text-truncate" style="text-overflow:unset;"><%= user.userData.id %></span>
          </div>
        <% } %>
        </div>

        <i class="bx bx-x toggle-x"></i>
        <i class="bx bx-chevron-right toggle-arrow"></i>
      </header>

      <div class="menu-bar">
        <div class="menu">
          <li class="spoti-box">
            <a href="https://www.spotify.com/it/">
              <i class='bx bxl-spotify icon'></i>
              <span class="text nav-text">Spotify</span>
            </a>  
          </li>
          <ul class="menu-links px-0">
            <li>
             <% if(user.userData === undefined){ %><a href="/"> <% }else{ %><a href="/homepage"><% } %>
                <i class="bx bx-home-alt icon"></i>
                <span class="text nav-text">Homepage</span>
              </a>
            </li>
            <li>
              <a href="/create">
                <i class='bx bx-list-plus icon'></i>
                  <span class="text nav-text">Create</span>
              </a>
            </li>
            <li>
              <a href="/discover" class="active">
                <i class='bx bx-world icon'></i>
                  <span class="text nav-text">Discover</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bottom-content">
          <% if(user.userData === undefined){%> 
            <li>
              <a onclick="accedi()">
                <i class="bx bx-log-in icon"></i>
                <span class="text nav-text">Login</span>
              </a>
            </li>
          <% }else{ %> 
            <li>
              <a onclick="logout()">
                <i class="bx bx-log-out icon"></i>
                <span class="text nav-text">Logout</span>
              </a>
            </li>
          <% }%>
          <li class="mode">
            <div class="sun-moon">
              <i class="bx bx-moon icon moon"></i>
              <i class="bx bx-sun icon sun"></i>
            </div>
            <span class="mode-text text">Dark mode</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
      </div>
    </nav>
    <!--End sidebar-->

    <section class="home" style="white-space: normal;">
        <div class="container">
            <div class="card">
                <i class="bx bx-menu sidebarOpen"></i>
                <div class="card-body">
                <!--hero section-->
                    <div class="px-4 py-4 mt-5 mb-auto text-center">
                        <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="" width="172" height="157">
                         <h1 class="display-5 fw-bold">Esplora</h1>
                        <div class="col-lg-6 mx-auto">
                            <div>
                                <p class="lead mb-4" style="white-space: normal;">Utilizza la barra di ricerca per cercare playlist create da altri utenti della community di Spotify</p>
                            </div>
                            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                               <!--search bar-->
                               <div class="input-group rounded">
                                <input onkeyup="sendSearch(this.value)" id="search-bar" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                <span class="input-group-text border-0" id="search-addon">
                                  <i class="bx bx-search"></i>
                                </span>
                              </div>
                            </div>
                        </div>
                    </div>
                <!--end hero section-->
                <!--results section-->
                <section class="pt-4">
                    <h3 class="text-center">I risultati della ricerca appariranno qui</h3>
                    <div id="results" class="row px-2 py-2 my-4 mx-auto">

                    </div>
                </section>
                </div>
                <footer class="d-flex flex-wrap justify-content-between align-items-center px-4 py-3 my-4 border-top">
                    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Playlitic, Inc</p>
                
                    <a href="https://developer.spotify.com/documentation/web-api/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                      Powered by Spotify API
                      <i class='bx bxl-spotify icon spotify-icon'></i>
                    </a>
                
                    <ul class="nav col-md-4 justify-content-end" id="footer-links">
                      <li class="nav-item"><a href="/homepage" class="nav-link px-2 text-muted">Homepage</a></li>
                      <li class="nav-item"><a href="/create" class="nav-link px-2 text-muted">Create</a></li>
                      <li class="nav-item"><a href="/discover" class="nav-link px-2 text-muted">Discover</a></li>
                    </ul>
                  </footer>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/javascripts/bootstrap.js"></script>
    <!--sidebar js-->
    <script type="text/javascript" src="/javascripts/sidebar.js"></script>
    <!-- controller js-->
    <script type="text/javascript" src="/javascripts/controller.js"></script>

    </body>
</html>